@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
body {

    max-width: 1800px;
    background-color: red;
    margin: auto;
    font-family: 'meriendo', cursive;
    padding: o;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    text-decoration: none;
    display: inline;
}
header {
    min-width: 700px;
    width:100%;
    background-color: #395B64;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header .header-logo-container {
    grid-column: 1;
    margin-left: 20px;
}
header .header-logo-container a img{
    height: 60px;
    width:180px;
    margin-top: 5px ;
}
header .header-icons-container {
    grid-column: 3;
    width: 100%;
    height: auto;
    display: grid;
}
header .header-icons-container .icons {
    display: grid;
    grid-row: 1;
    /*background: #47cfac;*/
    width: 60%;
    height: auto;
    display: flex;
    justify-items: start;
    align-items: center;
    justify-content:space-around;
    justify-self: end;
    margin-right: 40px;
}
header .header-icons-container .icons img{
    width: 50px;
}
.home-main {
    min-width: 700px;
    display:grid;
    background-color: aqua;
    height: 100%;
}
.home-main-container {
    background: url('https://i.imgur.com/EoeWCRg.png') purple;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
}
.home-main-text {
    color: white;
    text-shadow: 2px 2px 2px #395B64;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: left;
    padding-left: 15px;

}
.home-main-text-descrption {
    font-size: 24px;
}
.home-main .home-main-profile-link {
    display:grid;
    grid-column: 3;
    align-items: center;
    height: auto;
    margin-top: 30px;
    padding: 0px;
}
.home-main-profile-link a {
    width: 110px;
    font-size: larger;
    text-align: center;
    font-weight: 600;
    color: white;
    padding: 5px;
    box-shadow: 4px 3px 8px 2px #395B64;
}
.home-main-images{
    display: grid;
    height: auto;
    background-color: #395B64;
    grid-template-columns: 1fr 5fr 1fr;
}
.home-main-images-container{
    display: flex;
    height: auto;
    align-items: start;
    justify-content: center;
    grid-column: 2;
    border-top: 2px dashed white;
    margin: 10px;
    padding-top: 30px;
}
.home-main-images-container section {
    margin: 10px;
    width:200px;
    height: 150px;
    background-color: white;
}