@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda:wght@400;700&display=swap');

body {
    background: url('https://i.imgur.com/EoeWCRg.png') purple;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'meriendo', cursive;
    margin: 0;
    padding: o;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    text-decoration: none;
    display: inline;
}
header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header .header-logo-container {
    margin-left: 20px;
}
header .header-logo-conteiner img {
    width: 220px;
    margin-top: 10px ;
}
header .header-links-container{
    grid-colum: 2;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    /*background-color: red;*/
}
header .header-icons-container {
    width: 100%;
    height: auto;
    display: grid;
}
header .header-icons-container .icons {
    grid-row: 1;
    /*background: #47cfac;*/
    width: 65%;
    height: auto;
    display: flex;
    justify-items: start;
    align-items: center;
    justify-content:space-around;
    justify-self: end;
    margin-right: 40px;
}
header nav {
    grid-row: 2;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
}
nav .profile-link {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    font-size: larger;
    font-weight: 600;
    color: white;
    margin-right: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px black;
}
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
}
.home-main-text {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: center;

}
.home-main-text-descrption {
    font-size: 24px;
}
.home-main-button {
    width: 110px;
    height: 50px;
    box-shadow: 1px 1px 1px 1px #47cfac;
    display: grid;
    align-items: center;
}

    letter-spacing: 10px;
    text-align: center;

}
.home-main-text-descrption {
    font-size: 24px;
}
.home-main-button {
    width: 110px;
    height: 50px;
    box-shadow: 1px 1px 1px 1px #47cfac;
    display: grid;
    align-items: center;
}
