@media(max-width:1430px) {
    .home-main-container {
        grid-template-columns: 3fr 1fr 1fr;
    }
    .home-main-images{
        height:300px;
        align-items: start;
    }

}
@media(max-width:1000px){
    body{
        position:inherit; 
    }
}
@media(max-width:695px) {
    .home-main-container {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 3fr 1fr;
    }
    .home-main-text{
        grid-column: 2;
        font-size: 60px;
    }
    .home-main-text-descrption {
        font-size: 35px;
    }
    .home-main-container .home-main-profile-link{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-main-images {
        height: 20rem;
    }
}
@media(max-width:580px) {
    header {
        grid-template-columns: 1fr 2fr;
    }
    header .header-icons-container{
        grid-column: 2;
        padding: 15px;
    }
    header .header-icons-container .icons {
        margin-right: 15px;
    }
    .home-main {
        height: 60rem;
    }
        .home-main-container {
            height: 60rem;
    }
    .home-main-profile-link a {
        width: 200px;
        font-size: 35px;
        margin-inline: 30px;
    }
}
